[Unit]
Description=Run xAIO pipeline every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=pipeline.service

[Install]
WantedBy=timers.target

